body {
  /* background-color:#ECF3F7; */
  /* background-color: rgb(255, 253, 232); */

  /* background-image: linear-gradient(120deg, rgb(255, 255, 255) 0%, rgb(255, 250, 242) 100%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  min-height: 100vh;
  color: rgb(76,78,77);
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
}

h3 {
  margin-top:20px;
  font-size:26px;
}

.Waves {
 position: fixed;
 top: 85px;
 left: -40px; 
 z-index: -1;
 opacity: 0.1;
 width: 100%;
}


/* .Sun {
  position: fixed;
  top: 85px;
  left: -40px; 
  z-index: -1;
  opacity: 0.1;
  width: 95%;
} */

.App {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SeaShore {
  display: flex;
  flex-direction: row;
  font-size: calc(50px + (80 - 50) * ((100vw - 300px) / (1000 - 300)));
  margin-top: 50px;
  text-align: left;
  font-weight: 700;
  z-index: 999;
  letter-spacing: 15px;
  text-decoration: underline;
  -webkit-text-decoration-color: #72d2ff;
  text-decoration-color: #72d2ff;
}

.sea, .shore {
  margin: 0px 30px 0px 30px;
}

.Main {
  margin: 50px 10px 10px 10px;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(255, 255, 56);
  /* background-color: #FEF200 */
  padding: 0px 50px 50px 50px;

}

.FirstColumn {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color:green; */
}

.Date {
  color: rgb(89, 89, 89);
  margin: 30px;
  margin-top: 10px;
  font-size: 20px;
}

form { 
  margin: 30px;
  display: flex;
  flex-flow: row;
  /* justify-content: center; */
}

input {
  outline: none;
  border: none;
  font-size: 26px;
  /* font-weight: 200; */
  border-bottom: 2px solid #FB6F39;
  height: 50px;
  background-color: transparent;
  margin-bottom: 10px;
  margin-top: -30px;
}

input:focus {
  background-color: white;
}

input[type=submit] {
  background-image: linear-gradient(120deg, rgb(255, 255, 255) 0%, rgb(12, 225, 62) 100%);
  /* background-image: url('./icons/waves2.svg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  width: 65px;
  
}

.WeatherCardContainer {
  display: flex; 
  /* justify-content: center; */
  margin: 10px;
  /* width: 90%; */
  /* width: 640px; */
  /* padding-bottom: 10vh; */
  /* background-color: red; */
  overflow-x: auto;
  overflow-y: auto;
  /* height: 700px; */

  align-self: flex-end;
  /* box-shadow: 0px 0px 20px rgba(109, 21, 21, 0.5) inset; */

}

.WeatherCard {
  position: relative;
  background-color: rgb(255, 239, 226);
  background-color: white;
  
  /* background-image: linear-gradient(120deg, rgb(255, 242, 225) 0%, rgb(255, 233, 205) 100%); */
  padding: 15px 15px 15px 15px;
  margin: 20px;
  font-size:18px;
  /* border-radius: 15px; */
  /* box-shadow: 0px 0px 20px rgba(97, 50, 50, 0.1) inset;
  box-shadow: 0px 0px 20px rgba(92, 61, 61, 0.1); */
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadein 1s;
} 

.WeatherCardRow {
  display:flex;
  flex-direction: row;
}

.City {
  color: rgb(255, 255, 255);
  color: #FB6F39;
  margin: -10px -15px -10px -15px;
  font-size: 23px;
  font-weight: 700;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 70px;
  display:flex;
  flex-direction: column;
  justify-content:  center;
  letter-spacing: 1px;
}

/* .Sky {
  background-color:rgb(255, 255, 255);
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  margin-top: 20px;
  border: 1px solid #85705F ;
} */

.Tile {
  /* width: 130px; */
  color: rgb(89, 89, 89);
  margin: 5px;
  background-color:rgb(255, 255, 255);
  padding: 2px 20px 20px 20px;
  /* box-shadow: 0px 0px 10px rgba(92, 61, 61, 0.1) inset; */
  border-radius: 30px;
  font-size:12px;
}

.flex-container {
  -ms-box-orient: horizontal;
  display: flex;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.Icon {
  width: 65px;
}

/* width */
::-webkit-scrollbar {
  /* display: none; */
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes fadein {
  from { opacity: 0; transform: translatey(10px); }
  to   { opacity: 1; transform: translatey(0px); }
}

@media screen and (max-width: 600px) {
  .SeaShore {
    flex-direction: column;
  }
}

@media screen and (max-width: 999px) {

  .Main {
    justify-content: center;
    align-items: center;
  }
  .WeatherCardContainer {
    justify-content: center;
    /* align-items: center; */
  }
}
@media screen and (min-width: 1000px) {
  .SeaShore {
    font-size: 80px;
  }
  .Waves {
    width: 90vw;
  }
  .Main {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .SeaShore {
    font-size: 80px;
  }
  .Waves {
    width: 90vw;
  }
  .Main {
    width: 1100px;
  }
  .WeatherCardContainer {
    align-self: center;
    width: 1000px;
  }
}






