@font-face {
  font-family: Apercu;
  src: url('./fonts/Apercu-Font/Apercu Medium.otf');
}
@font-face {
  font-family: Apercu-Mono;
  src: url('./fonts/Apercu-Font/Apercu Mono.otf');
}

body {
  /* background-color:#ECF3F7; */
  /* background-color: rgb(255, 253, 232); */
  /* background-image: linear-gradient(120deg, rgb(255, 255, 255) 0%, rgb(255, 250, 242) 100%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  /* font-family: 'Noto Sans', sans-serif; */
  font-family: Apercu, 'Noto Sans';
  margin: 0;
  min-height: 100vh;
  color: rgb(76,78,77);
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
}

h3 {
  margin-top:20px;
  font-size:26px;
}

.Waves {
 position: fixed;
 top: 85px;
 left: -40px; 
 z-index: -1;
 opacity: 0.1;
 width: 100%;
}

.App {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SeaShore {
  display: flex;
  flex-direction: row;
  font-size: calc(50px + (80 - 50) * ((100vw - 300px) / (1000 - 300)));
  margin-top: 50px;
  text-align: left;
  /* font-weight: 700; */
  z-index: 999;
  letter-spacing: 15px;
  /* text-decoration: underline; */
  /* -webkit-text-decoration-color: #72d2ff; */
  text-decoration-color: #72d2ff;
  text-decoration-color: #FFF468;
}

.sea, .shore {
  position: relative;
  z-index: 1;
  margin: 0px 30px 0px 30px;
}

.sea::after, .shore::after {
  background: #FFF468;
  content: " ";
  display: block;
  height: 30%;
  position: absolute;
  left: -.9rem;
  top: 60%;
  width: calc(100% + .4rem);
  z-index: -1;
}

.Main {
  margin: 50px 10px 10px 10px;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(255, 234, 0, 0.81);
  background-color: #ADDBC4;
  background-color: #9DDBBC;

  padding: 0px 50px 50px 50px;
  /* background-image: url('./icons/waves2.svg'); */
}

.FirstColumn {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Date {
  color: rgb(89, 89, 89);
  margin: 30px;
  margin-top: 10px;
  font-size: 20px;
  font-family: Apercu-Mono;

}

form { 
  margin: 30px;
  display: flex;
  flex-flow: row;
}

input {
  font-size: 16px;
  font-family: Apercu-Mono;
  color: rgb(76,78,77);
  outline: none;
  border: none;
  /* font-size: 26px; */
  /* border: 2px solid white; */
  border-bottom: 2px solid rgb(243, 201, 105);
  height: 50px;
  /* background-color: transparent; */
  margin-bottom: 10px;
  margin-top: -30px;
  padding-left: 15px;
  width: 217px;
}

input::placeholder {
  color: rgba(76,78,77, 0.7);
}

input:focus {
  background-color: white;
}

input[type=submit] {
  background-image: linear-gradient(120deg, rgb(2n55, 255, 255) 0%, rgb(12, 225, 62) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  width: auto;
  background: white;
  /* display: none; */
  padding-right: 15px
  
}

.WeatherCardContainer {
  display: flex; 
  margin: 10px;
  overflow-x: auto;
  overflow-y: auto;
  align-self: flex-end;
}

.WeatherCard {
  /* background-image: linear-gradient(120deg, rgb(255, 242, 225) 0%, rgb(255, 233, 205) 100%); */
  /* border-radius: 15px; */
  /* box-shadow: 0px 0px 20px rgba(97, 50, 50, 0.5) inset; */
  box-shadow: 0px 0px 20px rgba(92, 61, 61, 0.1);
  border: 2px solid #FFF468;

  position: relative;
  background-color: white;
  padding: 15px 15px 15px 15px;
  margin: 20px;
  font-size:18px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadein 1s;
} 

.WeatherCardRow {
  display:flex;
  flex-direction: row;
}

.City {
  /* color: rgb(255, 255, 255); */
  /* color: #FB6F39; */
  /* color: #72D2FF; */
  margin: -10px -15px -10px -15px;
  font-size: 23px;
  font-weight: 700;
  height: 70px;
  display:flex;
  flex-direction: column;
  justify-content:  center;
  letter-spacing: 1px;
  z-index: 1;
}

h3.City::after {
  /* background: rgb(255, 255, 56); */
  background: #9DDBBC;
  background: rgba(243, 201, 105, 1);
  /* background: #72D2FF; */
  /* background: red; */
  content: " ";
  display: block;
  height: 5%;
  align-self: center;
  position: absolute;
  top: 13.5%;
  /* width: calc(100% + .4rem); */
  width: 59%;
  z-index: -1;
  transition-duration: 0.5s;
  
}

h3.City:hover::after {
   height: 7%;
   /* top: 13% */
}

.Tile {
  color: rgb(89, 89, 89);
  margin: 5px;
  background-color:rgb(255, 255, 255);
  padding: 2px 20px 20px 20px;
  border-radius: 30px;
  font-size:12px;
  z-index:1;
  /* box-shadow: 0px 0px 10px rgba(92, 61, 61, 0.1) inset; */
}

.flex-container {
  -ms-box-orient: horizontal;
  display: flex;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.Icon {
  width: 65px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes fadein {
  from { opacity: 0; transform: translatey(10px); }
  to   { opacity: 1; transform: translatey(0px); }
}

@media screen and (max-width: 689px) {
  .SeaShore {
    flex-direction: column;
  }
}

@media screen and (max-width: 999px) {
  .Main {
    justify-content: center;
    align-items: center;
    padding: 0px 0px 50px 0px;
    margin: 50px 30px 30px 30px;
  }
  .WeatherCardContainer {
    justify-content: center;
    width:auto;
  }
}

@media screen and (min-width: 1000px) {
  .SeaShore {
    font-size: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .WeatherCardContainer {
    align-self: center;
  }
}









