body {
  background-image: url("https://i.imgur.com/1fHklZ7.jpg");
  background-color:rgb(222, 222, 222);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  font-family: 'Crimson Text', serif;
  margin: 0;
  min-height: 100vh;
}

.overlay {
  position: fixed; 
  display: block; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1; 
}

h3 {
  margin-top:0;
  font-size:26px;
}

.App {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SeaShore {
  color: #85705F;
  font-size: 17px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 0.2px solid;
  width: 70%;
  line-height: 50px;
}

.sea, .shore {
  margin: 0px 10px 0px 10px;
}

/* .Footer {
  background-color:rgba(255, 255, 255, 0.3);
  color: #85705F;
  bottom: 0px;
  font-size: 10px;
  text-align: center;
} */

.Main {
  margin: 50px 10px 10px 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Date {
  color: rgb(89, 89, 89);
  margin: 30px;
  margin-top: 0;
  font-size: 40px;
  /* width: 200px; */
}

.WeatherCardContainer {
  display: flex; 
  justify-content: center;
  margin: 10px;
  width: 100%;
}

.WeatherCard {
  /* font-family: 'Open Sans', sans-serif; */
  color: rgb(89, 89, 89);
  background-color:rgba(255, 255, 255, 0.93);
  padding: 20px;
  margin: 12px;
  font-size:18px;
  /* height: 270px; */
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(92, 61, 61, 0.3);
  /* width: 300px; */
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.WeatherCardRow {
  display:flex;
  flex-direction: row;
}

.City {
  color: #85705F;
  margin-bottom: 10px;
  font-size: 32px;
}

.Sky {
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 20px rgba(130, 130, 130, 0.3);

}

.Sunrise, .Sunset, .Wind, .Temp {
  margin: 20px 20px 20px 20px;
}

.flex-container {
  -ms-box-orient: horizontal;
  display: flex;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.Icon {
  /* background-color:red; */
  width: 80px;
}






